body {
    font-family: BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
    text-align: center;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #eee;
    margin: 30px 0 0 0;
    border-radius: 7px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    font-weight: bold;
}

#img-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    min-width: 97%;
}

#image {
    max-width: 100%;
    margin: 10px;
}

#img-caption {
    margin: 15px 10px;
}

#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tribute-info {
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

#tribute-info ul {
    text-align: left;
}

#tribute-info ul li {
    padding: 10px 0;
}

#tribute-info i {
    text-align: left;
    margin: 20px;
}

#main-content p {
    margin: 30px;
    font-size: 1.2em;
    font-weight: bold;
}